{% extends 'base.html' %}
{% load static %}
{% block title %}About Me{% endblock %}

{% block content %}
<div class="container-fluid"> 
    <h1>About me</h1>
    <p>Beyond Words is the brainchild of Pete Bryant – that’s me! –  a professional translator and linguist who has had the fortune of calling Spain home for the better part of a decade after coming to the oh so difficult yet bittersweet decision to up sticks and leave my native Wales in search of sunnier climes and somewhere to practice my newfound skills after graduating in French and Spanish. 
        During that time, I have travelled the length and breadth of the country on an odyssey to uncover Iberia’s unrivalled cultural and linguistic jewels, which I deftly wield to create bespoke translations that bear witness to my boundless knowledge of the country that has so lovingly welcomed me and which I have come to love as my own (with which it surprisingly shares many, the weather notwithstanding). 
        A lifelong know-it-all, translation fit like a glove, presenting me with an opportunity to learn about new, diverse and history-filled lands and peoples (while also providing the perfect excuse to move to Spain and indulge in its gastronomic treats, all in the name of “research”) and pursue a career in the field of translation. 
        Now with my roots firmly laid down in Jerez de la Frontera – the heartland of sherry wine, flamenco and olive oil – in the deep south, I enjoy deepening my knowledge of my adopted country by sampling the fruits of the land, of which there are plenty, and getting lost in its vast expanse of countryside, whether on bike, on foot or any other yet-to-be discovered means. </p>
</div>

{% endblock %}