{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}


<!-- Hero image -->
<div class="hero-image">
    <div class="hero-text">
        <h1>Beyond Words guarantees translations with a human touch.</h1>
        <p>Beyond Words guarantees translations with a human touch.</p>
        <a href="{% url 'contact' %}" class="cta">Hire me</a>
    </div>
</div>
<div class="container-fluid p-5">
        <h4>Words aren’t just a group of letters bunched together.</h4>
        <h5>They are loaded with cultural connotations that can easily get lost in the hands of a less-skilled wordsmith.</h5>   
        Translations done by real-life humans and not by some machine that will one day take over the world (maybe, I wouldn’t risk it).   
        <p> Translating is only part of the work - you’ll exclusively deal with people made of flesh and blood and not a chatbot offering automated responses. That means that I will tend to all of your linguistic needs throughout the whole process to make sure that the translation is nothing short of a resounding success – anything less would be a disaster.<br>   
        <h5>But what about online translation tools, you ask? </h5> 
        As I specialise in just language pair, I can focus all my energy on keeping up to date with my chosen field, while always ensuring that the most suitable word is used at all times. 
        Meanwhile, online translation tools are Jacks of all trades and masters of none, often choosing the wrong word for the given context and turning your painstakingly drafted text into a laughingstock. 
        You wouldn’t buy an off-the-rack suit for your super-important business meeting, so why would you settle for anything less than the finest bespoke translation to accompany it?
    </p>
</div>
<div class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col">
            Column
        </div>
        <div class="col">
            Column2
        </div>
    </div>
</div>

{% endblock %}