{% extends 'base.html' %}
{% load static %}

{% block title %}Home {% endblock %}

{% block content %}
    <!-- Hero image -->
    <div class="hero-image">
        <div class="hero-text">
            <h1>I am John Doe</h1>
            <p>And I'm a Photographer</p>
            <button>Hire me</button>
        </div>
    </div>
    <div>
        <p>Main body of text....</p>
    </div>
    <div class="container">
        <div class="row">
          <div class="col">
            Column
          </div>
          <div class="col">
            Column
          </div>
          <div class="col">
            Column
          </div>
        </div>
      </div>

      {% endblock %}