{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}


<!-- Hero image -->
<div class="hero-image">
    <div class="hero-text">
        <h1>Beyond Words guarantees translations with a human touch.</h1>

        <a href="{% url 'contact' %}" class="cta btn">GET A QUOTE</a>
    </div>
</div>
<div class="container-fluid">
    <div class="p-4 m-5">
        <h4>Words aren’t just a group of letters bunched together.<br>
        <h4>They are loaded with cultural connotations that can easily get lost in the hands of a less-skilled wordsmith.</h4>
        <p>Here at BW we work hand-in-hand with companies who are actively trying to improve their carbon footprint and who strive to leave a better planet for future generations.</p>
        <br>
        <p>We specialise in eco stuff like this:</p>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
      <div class="col-md-4 mb-4 d-flex align-items-center justify-content-center">
        <div class="image-container">
            <h4 class="text-center">Sustainability</h4>
          <img src="static/images/sustainability.png" alt="Image 1" class="img-fluid eco-logo">
          <div class="image-text">Articles, documents and blog posts</div>
        </div>
      </div>
  
      <div class="col-md-4 mb-4 d-flex align-items-center justify-content-center">
        <div class="image-container">
            <h4 class="text-center">ESG Criteria</h4>
            <img src="static/images/esg.png" alt="Image 2" class="img-fluid eco-logo">
            <div class="image-text"><p>ESG reports, company policies and press releases</p></div>
        </div>
      </div>
  
      <div class="col-md-4 mb-4 d-flex align-items-center justify-content-center">
        <div class="image-container">
            <h4 class="text-center">Blue and Circular Economy</h4>
          <img src="static/images/circular.png" alt="Image 3" class="img-fluid eco-logo">
          <div class="image-text">Sustainable tourism and maritime companies</div>
        </div>
      </div>
    </div>
  </div>

<!-- Icon boxes -->
<div class="container my-5">
    <div class="row mt-4">
        <div class="col-md-6 mt-3">
            <div class="text-center icon-div p-5 mr-md-3">
                <img src="static/images/reputation.png" alt="Icon" class="img-fluid mb-2 home-icon">
                <h5>Specialist Translations</h5>
                <p class="text-justify">Boost your company’s visibility and raise awareness of your green initiatives by having your documents expertly translated from Spanish into English.</p>
            </div>
        </div>
        <div class="col-md-6 mt-3">
            <div class="text-center icon-div p-5 mr-md-3">
                <img src="static/images/people.png" alt="Icon" class="img-fluid mb-2 home-icon">
                <h5>Linguistic and Cultural Knowledge</h5>
                <p class="text-justify">Boost your company’s visibility and raise awareness of your green initiatives by having your documents expertly translated from Spanish into English.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mt-3">
            <div class="text-center icon-div p-5 mr-md-3">
                <img src="static/images/conflict-resolution.png" alt="Icon" class="img-fluid mb-2 home-icon">
                <h5>Personalised Service</h5>
                <p class="text-justify">We work in close collaboration with our clients throughout the entire translation process – from initial call or meeting to final delivery and future queries – making sure that all of their needs are met.</p>
            </div>
        </div>
        <div class="col-md-6 mt-3">
            <div class="text-center icon-div p-5 mr-md-3">
                <img src="static/images/art-gallery.png" alt="Icon" class="img-fluid mb-2 home-icon">
                <h5>Local Economy</h5>
                <p class="text-justify">Based in Jerez de la Frontera, in Cádiz province in southern Spain, I have cultivated knowledge of local industries and issues affecting this beautiful part of the world that I am proud to call home. As a result, it is my calling to contribute to the local business community by teaming up with companies all over the province, and I have great interest in seeing them succeed.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}